@media screen and (min-width: 400px) {
  .fondo {
    --ion-background-color: black;
  }
}

@media screen and (min-width: 800px) {
  .fondo {
    --ion-background-color: white;
  }
}

@media screen and (min-width: 1200px) {
  .fondo {
    --ion-background-color: darkblue;
  }
}

@media screen and (orientation:landscape) { 
  .duplicado {
    display: none;
  }
}